.cards {
  padding: 80px 70px 80px 70px;
}

.cards__grid {
  display: grid;
  gap: 24px 37px;
  grid-template-columns: repeat(auto-fit, 360px);
  grid-template-rows: minmax(319px);
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards__button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 8%;
}

.cards__loader-button {
  width: 100%;
  border-radius: 6px;
  background: #2f2f2f;
  border: none;
  cursor: pointer;
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  padding: 11px 0 9px 0;
  transition: opacity 0.3s ease;
  box-sizing: border-box;
}

.cards__loader-button:hover {
  opacity: 0.8;
}

@media screen and (min-width: 787px) {
  .cards {
    padding: 80px 30px 80px 30px;
  }

  .cards__grid {
    margin-bottom: 80px;
    gap: 30px 30px;
    grid-template-columns: repeat(auto-fit, 342px);
    grid-template-rows: minmax(309px);


  }
}

@media screen and (min-width: 523px) {
  .cards__grid {
    margin-bottom: 50px;
    gap: 14px;
     grid-template-columns: repeat(auto-fit, 300px);
     grid-template-rows: minmax(271px);
  }
}
