.cards {
  padding: 80px 70px 80px 70px;
}

.cards__grid {
  padding: 0;
  margin: 0 auto 60px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 24px 37px;
  list-style: none;
}

.cards__loader-button {
  width: 100%;
  border-radius: 6px;
  background: #2f2f2f;
  border: none;
  cursor: pointer;
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  padding: 11px 0 9px 0;
  transition: opacity 0.3s ease;
}

.cards__loader-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 787px) {

  .cards {
    padding: 80px 30px 80px 30px;
  }

  .cards__grid {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px 30px;
    margin-bottom: 80px;
  }

}

@media screen and (max-width: 650px) {

  .cards {
    padding: 50px 10px 50px 10px;
  }

  .cards__grid {
    grid-template-columns: repeat(auto-fit, minmax(234px, 1fr));
    gap: 14px;
    margin-bottom: 76px;
  }

}

@media screen and (max-width: 523px) {

  .cards__grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

}

@media screen and (max-width: 450px) {

  .cards__grid {
    grid-template-columns: repeat(auto-fit, minmax(170px, 300px));
    justify-content: center;
  }

}