.movies-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movies-list__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(281px, 1fr));
  grid-column-gap: 24px;
  grid-row-gap: 37px;
  box-sizing: border-box;
  width: 100%;
  margin-top: 80px;
  margin-bottom: 10px;
  padding: 0;
  list-style: none;
}

.movies-list__more-button {
  box-sizing: border-box;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  border: none;
  width: 100%;
  height: 36px;
  margin: 50px 0 80px;
  border-radius: 6px;
  background: #2F2F2F;
  color: #FFF;
}

.movies-list__more-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 787px) {
  .movies-list__grid {
    gap: 30px 30px;
    margin-bottom: 30px;
  }

}

@media screen and (max-width: 523px) {
  .movies-list__grid {
    margin-top: 50px;
    grid-row-gap: 14px;
    margin-bottom: 26px;

  }

}