.portfolio {
    background-color: #202020;
    padding: 0 70px 125px;
}

.portfolio__title {
    color: #8B8B8B;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
}

.portfolio__list {
    margin: 50px 0 0;
    padding: 0;
    list-style: none;
}

.portfolio__list-item {
    border-bottom: 1px solid #424242;
    padding: 20px 0 19px;
}

.portfolio__list-item:last-child {
    border-bottom: none;
}

.portfolio__link {
    display: flex;
    justify-content: space-between;
    background: url(../../images/arrow.svg) right center / 20px no-repeat;
    color: #FFF;
    font-size: 30px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: -1.2px;
    text-decoration: none;
    transition: opacity .9s ease;
}

.portfolio__link:hover {
    opacity: 0.7;
}

@media screen and (max-width: 787px) {

    .portfolio {
        padding: 0 50px 90px;
    }

    .portfolio__list-item {
        border-bottom: 1px solid #E6E6E6;
    }

    .portfolio__link {
        font-size: 28px;
    }

}

@media screen and (max-width: 523px) {

    .portfolio {
        padding: 0 14px 40px;
    }

    .portfolio__title {
        font-size: 14px;
    }

    .portfolio__list {
        margin-top: 20px;
    }

    .portfolio__link {
        font-size: 18px;
        line-height: 28px;
        letter-spacing: -0.72px;
        background-size: 15px;
    }

}