.promo {
  display: flex;
  align-items: center;
  padding: 184px 0 224px;
  background-color: #073042;
  background-image: url('../../images/promo-logo.svg');
  background-repeat: no-repeat;
  background-position: 50% 40%;
  background-size: 320px 320px;
}

.promo__container {
  width: 1140px;
  margin: 0 auto;
}

.promo__title {
  max-width: 730px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  letter-spacing: -2px;
  color: #FFFFFF;
  font-size: 50px;
  font-weight: normal;
  line-height: 58px; /* 116% */
}

@media screen and (max-width: 787px) {
  .promo {
    padding: 326px 0 342px;
    background-position: 50% 48.2%;
  }

  .promo__container {
    width: 708px;
  }
}

@media screen and (max-width: 523px) {
  .promo {
    padding: 207px 0 246px;
    background-position: 50% 44%;
    background-size: 248px 248px;
  }

  .promo__container {
    width: 300px;
  }

  .promo__title {
    max-width: 300px;
    font-size: 31px;
    line-height: 39px; /* 125.806% */
    letter-spacing: -1.24px;
  }
}





