.nav__page-overlay {
  display: none;
}

@media screen and (max-width: 787px) {
  .nav__page-overlay {
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 5;
  }

  .nav__overlay-container {
    flex: 1 1 auto;
  }

  .nav__menu {
    display: flex;
    flex-direction: column;
    padding: 0px 90px 90px;
    max-width: 520px;
    min-height: 100vh;
    background: #202020;
    justify-content: space-between;
    position: relative;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
  }

  .nav__close-button {
    position: absolute;
    top: 27px;
    right: 27px;
    margin: 0;
    padding: 0;
    background-image: url("../../images/cross.svg");
    width: 22px;
    height: 22px;
    border: none;
    box-sizing: content-box;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    cursor: pointer;
  }

  .nav__close-button:hover {
    opacity: 0.6;
  }

  .nav__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 160px;
  }

  .nav__link {
    text-decoration: none;
    font-weight: 500;
    line-height: normal;
    font-size: 18px;
    text-align: center;
    color: #fff;
    width: max-content;
    /* border-bottom: 2px solid transparent; */
    margin-bottom: 28px;
    padding-bottom: 2px;
  }

  .nav__link:last-of-type {
    margin-bottom: 0;
  }

  /*   .nav__link_active {
    color: #2be080;
  }
 */
  .nav__link_active {
    text-decoration: none;
    margin-bottom: 28px;
    padding-bottom: 2px;
    text-align: center;
    color: #fff;
    border-bottom: 2px solid #fff;
    /* border-bottom: 2px solid #8f0c0c; */
  }

  .nav__link_active:last-of-type {
    margin-bottom: 0;
  }

  .nav__link:hover {
    border-bottom: 2px solid #fff;
  }

  .nav__account-button {
    display: flex;
    align-items: center;
    padding: 0;
    width: 100px;
    height: 32px;
    background: #202020;
    box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.08);
    border-radius: 40px;
    cursor: pointer;
    transition: opacity 0.3s ease;
    text-decoration: none;
  }

  .nav__account-button:hover {
    opacity: 0.6;
  }
}

.nav__account-title {
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  line-height: 12px;
  margin: 0;
  margin-left: 11px;
  margin-right: 7px;
  text-decoration-line: none;
}

.nav__accont-icon {
  border-radius: 50px;
  height: 10px;
  width: 10px;
  padding: 7.8px;
  background: #313131;
}

@media screen and (max-width: 523px) {
  .nav__menu {
    padding: 0px 10px 46px;
    width: 100%;
    /* min-height: 780px; */
  }

  .nav__overlay-container {
    display: none;
  }

  .nav__links {
    margin-top: 144px;
  }

  .nav__link {
    margin-bottom: 24px;
  }

  .nav__close-button {
    top: 18px;
    right: 18px;
  }
}
