.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  padding-bottom: 69px;
  border-bottom: 1px solid #424242;
}

.search__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 40px;
  background-color: #2f2f2f;
  width: 100%;
  margin: 0 0 41px 0;
  /* min-height: 48px; */
/*   padding: 0;
  box-sizing: border-box; */

}

.search__container:focus-within {
  outline: 1px solid #fff;
  /* при фокусе */
}

.search__input {
  margin: 0;
  padding: 0 0 0 22px;
  background-color: #2f2f2f;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  width: 80%;
  min-height: 46px;
  border-radius: 40px;
  outline: none;
  border: none;
  color:#8B8B8B;
}

.search__button {
  padding: 0;
  margin-right: 6px;
  background-image: url(../../images/find.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 34px;
  height: 34px;
  transition: opacity 0.3s ease;
}

.search__button:hover {
  opacity: 0.8;
}

.search__button:active {
  transform: scale(0.9);
}

.search__toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search__toggle-title {
  margin: 0 0 0 12px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.search__tumbler {
  position: relative;
  width: 36px;
  height: 20px;
  cursor: pointer;
}

.search__checkbox {
  display: none;
}

.search__slider {
  position: absolute;
  inset: 0;
  background-color: #3ddc84;
  border-radius: 16px;
  transition: 0.5s;
  transform: scale(-1, -1);
}

.search__slider::before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 1px;
  bottom: 2px;
  border-radius: 50%;
  background-color: #ffffff;
}

.search__checkbox:checked + .search__slider {
  background-color: #343434;
}

.search__checkbox:checked + .search__slider::before {
  transform: translateX(16px);
  background-color: #a0a0a0;
}

@media screen and (max-width: 768px) {
  .search {
   /*  padding: 80px 30px 51px 30px; */
    margin-top: 80px;
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 523px) {
  .search {
  /*   padding: 80px 14px 50px 14px; */
    margin-top: 80px;
    padding-bottom: 49px;
  }

  .search__container {
   /*  min-height: 46px; */
    width: 97%;
  }

  .search__input {
    padding-left: 19px;
    font-size: 11px;
  }

  .search__toggle-title {
    font-size: 11px;
  }
}
