.footer {
padding: 79px 70px 20px;
  flex-shrink: 0; 
  box-sizing: border-box;
  max-width: 1280px;
  width: 100%;


/*   padding: 81px 70px 21px;
  max-width: 1280px;
  width: 100%;
  box-sizing: border-box;
  margin: auto auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: padding .5s; */



}

.footer__title {
  color: #8b8b8b;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  margin: 0 0 20px 0;
}

.footer__container {
  border-top: 1px solid #424242;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.footer__copyright {
  margin: 0;
  font-size: 13px;
  font-weight: 400;
}

.footer__nav-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style: none;
}

.footer__nav-link {
  color: #fff;
  text-align: right;
  font-size: 13px;
  font-weight: 400;
  text-decoration: none;
  transition: opacity 0.3s ease;
}

.footer__nav-link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 787px) {
  .footer {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 523px) {
  .footer {
    padding-left: 10px;
    padding-right: 10px;
  }

  .footer__title {
    font-size: 12px;
    margin: 0 0 21px 0;
  }

  .footer__container {
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 30px;
  }

  .footer__nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  .footer__nav-link {
    font-size: 12px;
  }

  .footer__copyright {
    color: #8b8b8b;
    font-size: 12px;
    margin-top: 30px;
  }
}