.not-found {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.not-found__container {
  margin-bottom: 184px;
}

.not-found__title {
  text-align: center;
  font-size: 140px;
  font-weight: 400;
  margin: 0 0 5px 0;
}

.not-found__subtitle {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

.not-found__link {
  color: #4285f4;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}

@media screen and (max-width: 523px) {
  .not-found__container {
    margin-bottom: 284px;
  }

  .not-found__title {
    font-size: 80px;
    margin-bottom: 10px;
  }

  .not-found__subtitle {
    font-size: 12px;
  }

  .not-found__link {
    font-size: 12px;
  }
}